.div-home-complete {
    background-color: #0084a7;
    /* background-image: url('/src/Img/Background/img-technology-1.jpg'); */
    background-image: url('/src/Img/Background/background-tecnologia2.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.home-img-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article-home-intro {
    text-align: justify;
    color: #fff;
    width: 50%;
    /* font-family: Fuzzy Bubbles; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container.div-home-title {
    padding-top: 20px;
    color: #fff;
}

.h5-homme-carousel {
    color: hsl(64, 100%, 50%);
}

.home-title-h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    /* font-family: 'Faster One', cursive; */
    /* font-family: 'Monofett', cursive; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Rubik Dirt', cursive; */
    /* font-family: 'Rubik Iso', cursive; */
    font-family: 'Rye', cursive;
    /* font-family: 'Tilt Prism', cursive; */
    /* color: black; */
}

/* css main */
.home-main-complete {
    margin-top: 20px;
}

.img-cards-home {
    width: 100%;
    height: 300px;
}

.card-img-top {
    width: 100%;
    height: 300px;
}

.article-home-video {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.div-video-home {
    margin: auto;
}

.div-home-text {
    text-align: center;
    margin: auto;
}

.icons-portada {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.li-portada {
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
}

.img-portada {
    width: 200px;
    height: 289px;
}

.img-carousel {
    width: 150px;
    height: 300px;
    border-radius: 10px;

}

@media screen and (max-width:480px) {
    .div-home-title {
        font-size: 20px;
        text-align: center;
    }

    .div-home-complete {
        height: 350px;
    }

    .article-home-intro {
        text-align: left;
        width: 100%;
        margin-top: 0px;
        color: #fff;
    }

    .home-title-h3 {
        font-size: 25px;
        text-align: center;
        padding-bottom: 10px;
    }

    .article-home-video {
        display: inline;
    }

    .img-carousel {
        width: 300px;
        height: 240px;
    }

    /* .div-video-home {
        width: 300px;
        margin-left: 0px;
    } */
}