.Navbar-logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.Navbar-logo-rotate {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 340px;
    transform: scaleX(-1);
}

.Navbar-logo-red {
    margin-bottom: 6px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 30px;
}

.navbar-links-b {
    padding-left: 10px;
    font-family: 'Luckiest Guy';
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.navbar-links-b:hover {
    padding: 5px;
    color: #f9f9f9;
    background-color: #007c72;
    border-radius: 10px;
    transition: 0.2s;
}

.navbar-a {
    text-decoration: none;
    font-family: Fuzzy Bubbles;
    color: black; 
}

.navbar-a:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.navbar-container-main {
    margin-top: 70px;
}

.navbar-toggler.bg-secondary {
    margin-right: 10px;
}

@media screen and (max-width:1265px) {
    .form-inline {
        display: none;
    }
    .Navbar-logo-rotate {
        margin: 0px 430px 0px 0px;
    }
}

@media screen and (max-width:1400px) { 

    .Navbar-logo-rotate {
        margin: 0px 430px 0px 0px;
    }
}

@media screen and (max-width:990px) { 
    .Navbar-logo-img-rotate {
        display: none;
    }
    .navbar-links-container {
        text-align: center;
    }

}
