.nosotros-jumbotron {
    margin-top: 10px;
    text-align: center;
}

.icons-general-nosotros {
    width: 150px;
    height: 100px;
    margin-bottom: 3px;
  }
  
  .icons-general-rotate-nosotros {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    rotate: x(-1);
  }

  .text-nosotros-somos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }